.container {
    display: flex;
    flex-direction: column;
}

.products {
    /* align-items: space-between; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 200px;
    padding-left: 200px;
}