.container {
    display: flex;
    flex-direction: column;
}

.product_container {
    display: flex;
    flex-direction: row;
    padding: 0 200px 0 200px;
}

.column_left {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-height: 450px;
    min-width: 207px;
    height: 30vh;
    justify-content: flex-start;
    margin: 10px;
    padding: 30px;
    text-align: center;
    width: 15%;
}

.column_right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 131px;
    width: 80%;
}

.header {
    font-weight: 500;
    margin: 10px;
    text-align: left;
}

.clear__button {
    cursor: pointer;
    min-width: 60px;
    width: 20%;
}

.filter_inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter_input {
    width: 80%;
}